# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Dataset directories
train/
val/
test/

# Images (if needed)
*.jpg
*.jpeg
*.png
*.bmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Visual Studio Code settings
.vscode/

# MacOS files
.DS_Store

# Logs and debug files
*.log

# Environment files
.env
venv/

.kaggle/

dataset/